<!DOCTYPE html>
<html>
<head>
    <title>Salon za negu i šišanje pasa GROOMING MIMA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   <nav>
    <a href="/">Početna</a> |
    <a href="/usluge">Usluge</a> |
    <a href="/kontakt">Kontakt</a> |
    <a href="/cenovnik">Cenovnik</a> |
    <a href="tel:0694772922">📞 069/477-2922</a>
</nav>


<header class="header-flex">
    <img src="/static/images/logo.png" alt="Logo" class="header-logo">
    <div class="header-tekst">
        <h1>Dobrodošli u salon za negu i šišanje pasa <span class="istaknuto">"GROOMING MIMA"</span></h1>
        <p class="podnaslov">Mesto gde vaši ljubimci dobijaju kraljevski tretman!</p>
        <div class="radno-vreme-box">
            🕒 <strong>Radno vreme:</strong><br>
            ponedeljak–utorak: 14:00–21:00<br>
            sreda–petak: 08:00–14:00
        </div>
    </div>
</header>




    <section class="galerija">
        <h2>Galerija</h2>
        <img src="/static/images/slika1.jpg" alt="Pas 1">
        <img src="/static/images/slika2.jpg" alt="Pas 2">
    </section>
  <section class="lokacija">
    <h2>Gde se nalazimo</h2>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2867.327274970337!2d22.103242285208676!3d44.05595019653281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4753f90b660301d7%3A0x31f0b1820d231a1d!2sGrooming%20Mima!5e0!3m2!1sen!2srs!4v1749411933884!5m2!1sen!2srs"
            width="50%"
            height="350"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>

</section>


</body>
</html>
