<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROOMING MIMA - Šišanje i nega pasa Bor</title>
    <meta name="description" content="Salon za negu i šišanje pasa GROOMING MIMA u Boru. Prijatan ambijent i profesionalna usluga za vaše ljubimce.">
    <meta name="keywords" content="šišanje pasa Bor, grooming pasa, salon za pse, nega kućnih ljubimaca, GROOMING MIMA">
    <meta name="author" content="GROOMING MIMA">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Navigacija -->
    <nav class="nav-bar">
        <a href="/">Početna</a>
        <a href="/usluge">Usluge</a>
        <a href="/cenovnik">Cenovnik</a>
        <a href="/galerija">Galerija</a>
        <a href="/kontakt">Kontakt</a>
        <a class="telefon" href="tel:0694772922">📞 069/477-2922</a>
    </nav>

    <!-- Pozdravni tekst -->
    <div class="pozdrav">
        <h1>Dobrodošli u salon za negu i šišanje pasa "GROOMING MIMA"</h1>
        <p>Mesto gde vaši ljubimci dobijaju kraljevski tretman!</p>
    </div>

    <!-- Glavni deo sa logoom i radnim vremenom -->
    <header class="header">
        <img src="/static/images/logo.png" alt="Logo salona Grooming Mima" class="logo">
        <div class="radno-vreme">
            <h3>Radno vreme</h3>
            <p>Ponedeljak - Utorak: 14:00 - 21:00<br>Sreda - Petak: 08:00 - 14:00<br>Subota - Nedelja: Ne radimo</p>
        </div>
    </header>

    <!-- Galerija slika -->
    <section class="galerija">
        <img src="/static/images/slika1.jpg" alt="Pas 1">
        <img src="/static/images/slika2.jpg" alt="Pas 2">
        <img src="/static/images/slika3.jpg" alt="Pas 3">
    </section>

    <!-- Google mapa -->
   <section class="lokacija">
    <h2>Gde se nalazimo</h2>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2867.327274970337!2d22.103242285208676!3d44.05595019653281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4753f90b660301d7%3A0x31f0b1820d231a1d!2sGrooming%20Mima!5e0!3m2!1sen!2srs!4v1749411933884!5m2!1sen!2srs"
            width="50%"
            height="350"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>

    <footer>
        <p>&copy; 2025 GROOMING MIMA. Sva prava zadržana.</p>
    </footer>
</body>
</html>
